{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "quotes": ["error", "single"],
    "semi": 2
  },
  "globals": {
    "coreui": true,
    "L": true,
    "map": true,
    "mapInfo": true
  }
}